@font-face {
  font-family: "Book";
  font-display: fallback;
  src: url("https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/ca614426b50ca7d007056aa00954764b.woff2")
      format("woff2"),
    url("https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/a9e39356639e85c045725ab277a8d423.woff")
      format("woff");
}
@font-face {
  font-family: "NarrowBook";
  font-display: fallback;
  src: url("https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/322ef517d4366b6d2e55af44fe6dd05f.woff2")
      format("woff2"),
    url("https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/057646e5b3e43b30888f8976820ceaee.woff")
      format("woff");
}
@font-face {
  font-family: "Medium";
  font-display: fallback;
  src: url("https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/ad875b9818771a1350232d99278c40e8.woff2")
      format("woff2"),
    url("https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/49e5932ee0897877dbf33c945b7e408f.woff")
      format("woff");
}
@font-face {
  font-family: "NarrowMedium";
  font-display: fallback;
  src: url("https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/9ca41305c38625ac6c4b7a5335420d00.woff2")
      format("woff2"),
    url("https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/191e75f6673a9363a32523de53ad2eb3.woff")
      format("woff");
}
@font-face {
  font-family: "News";
  font-display: fallback;
  src: url("https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/ca104da8af9a2e0771e8fe2b31f8ec1e.woff2")
      format("woff2"),
    url("https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/f39b50d5fd213136c91b31d423ab89f1.woff")
      format("woff");
}
@font-face {
  font-family: "NarrowNews";
  font-display: fallback;
  src: url("https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/04c6c155263aad7478c156d986e4226b.woff2")
      format("woff2"),
    url("https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/722885a2080b965d312c5519b73be745.woff")
      format("woff");
}
@font-face {
  font-family: "Thin";
  font-display: fallback;
  src: url("https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/03b64805a8cd2d53fadc5814445c2fb5.woff2")
      format("woff2"),
    url("https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/341462317dd033a9d3d14a14a55e9d09.woff")
      format("woff");
}
@font-face {
  font-family: "NarrowThin";
  font-display: fallback;
  src: url("https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/5ca591585a92d40bf383af1868766e4e.woff2")
      format("woff2"),
    url("https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/5ff63ae1fc81f9f6c5d5c7718c0d0d32.woff")
      format("woff");
}

.nav {
  background-color: #f3f3f7;
  height: 100%;
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
  z-index: 2002;
}
.nav--height {
  height: 64px;
}

.nav__flex {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.nav__item {
  display: flex;
  justify-content: flex-start;
  justify-self: flex-start;
  padding-right: 24px;
  padding-left: 24px;
  margin: 0;
  list-style: none;
}

.nav__item-li {
  align-self: center;
  display: flex;
  align-self: center;
  padding-left: 0;
  margin-bottom: 0;
  padding-right: 8px;
  font-size: 1.25rem;
}

.nav__link {
  height: 100%;
  font-family: "Merriweather", "Georgia", serif;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: none;
}

.nav a:visited {
  color: black;
}

.nav a {
  color: black;
}

.nav .nav__text {
  color: black;
  background: unset;
  padding: 10px 12px;
  border-radius: 30px;
  line-height: 16px;
  box-shadow: none;
  transition-timing-function: cubic-bezier(0.2, 0.8, 0.4, 1);
  transition-duration: 0.25s;
  cursor: pointer;
  font-size: 14px;
  border: none;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 50px;
  width: 200px;
}

.nav__item-hover:hover .sub-menu {
  display: block;
}
.sub-menu__list {
  padding: 20px;
  background-color: #ffffff;
}
.sub-menu__list-item {
  cursor: pointer;
  align-items: center;
  display: flex;
  width: 100%;
}
.item__icon {
  padding-right: 24px;
  align-items: center;
  display: flex;
}
.item__text {
  border-bottom: none;
  padding-right: 12px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.item__link {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  line-height: 24px;
}

.item__login {
  padding: 10px 12px;
  border-radius: 30px;
  line-height: 16px;
  box-shadow: none;
  outline-offset: -3px;
  border: none;
  display: inline-flex;
  transition-timing-function: cubic-bezier(0.2, 0.8, 0.4, 1);
  transition-duration: 0.25s;
  justify-content: center;
  font-weight: 500;
  margin: 0;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  align-items: center;
  flex-direction: row;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
}

.item__signup {
  padding: 10px 12px;
  border-radius: 30px;
  line-height: 16px;
  box-shadow: none;
  outline-offset: -3px;
  border: none;
  display: inline-flex;
  transition-timing-function: cubic-bezier(0.2, 0.8, 0.4, 1);
  transition-duration: 0.25s;
  justify-content: center;
  margin: 0;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  align-items: center;
  flex-direction: row;
  color: #000000;
  text-decoration: none;
}
.item__signup:hover {
  background-color: #e2e2e2;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  border-top: 1px solid #5f6c80;
  padding: 20px 0;
}

/* home */
/* menu-slider */

.cd-slider-nav nav {
  width: 100%;
  padding: 0 10px;
  display: inline-block;
  position: relative;
}
.collapse {
  display: none;
}
.navbar-toggler {
  padding: 0.5rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: 0 0;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important;
  }
  .navbar-toggleable-md {
    display: block !important;
  }
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav .nav-link {
  display: block;
  padding-top: 0.425rem;
  padding-bottom: 0.425rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.clearfix::after {
  display: table;
  clear: both;
  content: "";
}

.container {
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -0.9375rem;
  margin-left: -0.9375rem;
}
.col-md-6 {
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
}

.btn {
  display: inline-block;
  padding: 0.375rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
  .col-md-6 {
    width: 75%;
  }
}

@media (max-width: 767px) {
  .col-md-6 {
    width: 75%;
  }
}

@media (max-width: 667px) {
  .col-md-6 {
    width: 100%;
  }
}
